.dropdown {
  display: inline-block;
  position: relative;
  color: #666;
  border-radius: 5px;

}

.dropdown button {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  padding: 7px 12px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 11px;

}

.dropdown button:hover {
  background-color: #333;
  color: white;
  border-radius: 10px;
}

.dropdown-options {
  
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  border-radius: 1px;
  text-align: left;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  /* Ensure dropdown options appear above other content */
  width: 150px;
  /* Set width to content width */
  right: 0;
  /* Align right edge with the dropdown button */

}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 2px;
  text-decoration: none;
  padding: 10px 10px;
  white-space: nowrap;
  /* Prevent line breaks */
  text-align: left;
  color: #666;
  font-size: 0.9rem;

}

.dropdown-options a:hover {
  color: #fff;
  background-color: #333;
  border-radius: 0px;
}